<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="blue-optima-theme">
        <wb-resource deploy-path="/" source-path="/docroot" tag="defaultRootSource"/>
        <property name="context-root" value="blue-optima-theme"/>
        <property name="java-output-path" value="/blue-optima-theme/docroot/WEB-INF/classes"/>
    </wb-module>
</project-modules>
