@charset "utf-8";
@media only screen and (min-width: 200px) and (max-width: 500px) {
  .span20 {
    width: 94.00%;
    *width: 94.00%;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center; }

  .span25 {
    width: 94.00%;
    *width: 94.00%;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center; }

  .span30 {
    width: 94.00%;
    *width: 94.00%;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center; }

  .span33 {
    width: 94.00%;
    *width: 94.00%;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center; }

  .span50 {
    width: 94.00%;
    *width: 94.00%;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center; }

  .span70 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span75 {
    width: 94.00%;
    *width: 94.00%;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center; }

  .span100 {
    width: 94.00%;
    *width: 94.00%;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center; }

  .wrapper {
    width: 94%;
    margin: 0% 3%; }

  .aboutsec {
    width: 100% !important;
    margin: 0% 0% 2% 0% !important; }

  .pricesec {
    width: 100% !important; }

  .slidercap {
    padding: 0 5px !important; }

  .captionwp {
    width: 80% !important;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 40px !important;
    border-radius: 2px;
    margin: 0 auto !important; }

  /* width:100%  */
  .flex-caption .toptxt {
    font-size: 25px !important;
    line-height: 22px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important; }

  .flex-caption .sctext {
    width: 100% !important;
    font-size: 13px !important;
    color: #fff !important;
    text-shadow: none !important;
    padding: 10px 0px !important; }

  .flex-caption .sctext span {
    color: #fff !important; }

  .flex-caption .toptxt02 {
    font-size: 25px !important;
    line-height: 26px !important; }

  .flex-caption .sctext02 {
    width: 100% !important;
    font-size: 13px !important; }

  .topspec01 {
    top: 10% !important; }

  .getstarted {
    width: 100% !important;
    font-size: 15px !important;
    height: 42px !important;
    padding: 0px 5px !important; }

  .flex-caption {
    position: relative !important;
    top: 0% !important;
    background-color: #000; }

  .flex-control-nav {
    right: 5% !important;
    bottom: -22px !important; }

  .sprow04 {
    min-height: inherit !important;
    padding: 35px 0px !important; }

  .rgdev {
    font-size: 16px !important; }

  .sprow03 {
    padding: 18px 0px !important;
    min-height: inherit !important; }

  .sprow05 {
    padding: 25px 0px !important; }

  .sourcecode {
    width: 96% !important;
    margin-top: 15px !important; }

  /* width:100% */
  .featuredbx {
    width: 100% !important; }

  .sourcecodecounter {
    width: 100% !important;
    background-color: #1861C6 !important;
    float: right !important;
    font-size: 37px !important;
    height: 90px !important;
    line-height: 53px !important;
    width: 100% !important; }

  .sprow06 {
    padding: 15px 0px !important;
    min-height: inherit !important; }

  .aboutsecheader {
    width: 100%;
    display: block;
    font-size: 25px !important;
    margin: 2px 0px; }

  .sliderwp {
    width: 100% !important;
    margin: 0 auto !important; }

  .sourcecodeheader {
    font-size: 16px !important; }

  .thrbx01 {
    width: 98% !important;
    margin: 3% 2% !important; }

  .sliderimg {
    width: 32% !important;
    margin: 0 auto;
    float: none !important;
    text-align: center;
    display: block !important; }

  .slidertext {
    width: 100% !important; }

  .btmcoll01 {
    width: 96%;
    float: none !important;
    margin: 1% 2% !important; }

  .btmcoll02 {
    width: 96%;
    float: none !important;
    margin: 1% 2% !important; }

  .btmcoll03 {
    width: 96%;
    float: none !important;
    margin: 2% 2% !important; }

  .priceplanbx {
    width: 100%;
    margin: 1% 0% !important; }

  .priceplanbxpart02 {
    width: 100%;
    display: block; }

  .slidertxt01 {
    font-size: 15px !important;
    line-height: 19px !important; }

  .slidertxt02 {
    font-size: 15px !important;
    line-height: 19px !important; }

  .logo {
    width: auto;
    padding: 0px 0px 0px 0px;
    float: left;
    position: absolute;
    left: 0px !important;
    top: 4px !important; }

  /* top:30px  */
  .headerpartwp {
    padding: 0px 0px; }

  /* padding:0px 0px 5px 0px; */
  .featuredbxhead {
    font-size: 18px !important; }

  .sprow02 {
    padding: 20px 0px !important; }

  .container02 .flexslider .slides img {
    width: 250px !important;
    margin: 0 auto !important; }

  .thrbx01header {
    font-size: 22px !important; }

  .headerspc, .headerspclogin {
    height: 116px !important; }

  /* .headerspc{ height:116px !important;} */
  .aboutsectext {
    padding: 5px 0px !important; }

  .bx-wrapper {
    max-width: inherit !important; }

  .headerfx {
    position: relative !important; }

  .headerspc {
    height: 0 !important; }

  .btmcolheader {
    font-size: 20px !important; }

  .headright {
    width: 100% !important; }

  /* --------------------  */
  .headerspclogin {
    height: 0 !important; }

  .emailcaptcha .taglib-captcha .control-group {
    width: 36%; }

  .logo a.np-logofix {
    width: 160px; }

  .sprow04 .slider-title {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 28px;
    line-height: normal; }

  .sprow04 .slider-sub-title {
    font-size: 14px;
    color: #fafafa;
    font-weight: 300;
    text-align: center;
    margin-bottom: 36px;
    line-height: normal;
    width: 90%;
    margin: 0 auto; }

  .ready-amazed {
    font-size: 24px;
    color: #2c2c2c;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 45px;
    line-height: normal; }

  /*  -----------------  */
  .innertextpart01 {
    width: 100% !important;
    text-align: center; }

  .innertextpart02 {
    width: 100% !important; }

  .innerheader {
    font-size: 19px !important;
    padding: 8px 0;
    text-align: left;
    line-height: 24px; }

  .inbanner {
    font-size: 23px; }

  .insubmenu a {
    padding: 0px 10px !important; }

  .insubmenu {
    font-size: 14px !important; }

  .sprow09 {
    padding: 15px 0px !important; }

  .innerpricebx {
    width: 96% !important;
    margin: 3% 2% !important;
    height: auto !important; }

  .collpart01 {
    width: 100% !important;
    margin: 1% 0% !important;
    text-align: center !important; }

  .collpart02 {
    width: 100% !important;
    margin: 1% 0% !important; }

  .collparttext {
    text-align: center !important; }

  .collpart02 a {
    margin: 0 auto !important; }

  .collpartheader {
    text-align: center;
    font-size: 30px !important;
    line-height: 34px !important; }

  .innerpricebxpart01 {
    font-size: 25px !important;
    height: 45px !important;
    line-height: 40px !important; }

  .innerpricebxpart02 {
    font-size: 22px !important;
    height: 49px !important;
    line-height: 29px !important; }

  .innerpricebxpart03 {
    height: auto !important;
    padding: 15px !important; }

  .ulsty02 li {
    text-align: left !important; }

  .innertextpart03 {
    width: 100% !important;
    text-align: center; }

  .innertextpart04 {
    width: 100% !important; }

  .innertextpart05 {
    width: 100% !important;
    text-align: center; }

  .innertextpart06 {
    width: 100% !important; }

  .inbanner02 {
    font-size: 17px !important;
    text-align: center;
    padding: 15px 0px 8px 0px; }

  .inbannertxt02 {
    font-size: 13px !important;
    text-align: center;
    line-height: 21px;
    padding: 7px 0px; }

  .inbanner03 {
    font-size: 17px !important;
    text-align: center;
    padding: 15px 0px 8px 0px; }

  .inbannertxt03 {
    font-size: 13px !important;
    text-align: center;
    line-height: 21px;
    padding: 7px 0px; }

  .ulsty04 li div {
    font-size: 14px !important; }

  .cslogin {
    width: 43% !important;
    font-size: 12px !important; }

  .logo {
    margin-top: 0px; }

  .blogleft {
    width: 100% !important; }

  .blogright {
    width: 100% !important; }

  .blogrowheader {
    font-size: 18px;
    line-height: 25px; }

  .leavereply {
    margin-top: 0px !important;
    width: 92% !important; }

  .blogrow01 {
    padding: 12px 0px; }

  .blogtxt {
    font-size: 13px !important;
    padding: 0px 0px; }

  .blogheader02 {
    font-size: 21px !important; }

  .blogimg01 {
    width: 100%;
    margin: 2% 0% !important; }

  .searchfild {
    width: 78% !important; }

  .hidecustomlogin {
    display: block !important; }

  .showcustomlogin {
    display: none; }

  .textfild01 {
    width: 90%  !important; }

  .textfild02 {
    width: 90%  !important; }

  .portlet-body .collapse .navbar-search {
    margin: 0px !important;
    position: relative !important;
    width: 91%  !important;
    border: 0px !important; }

  ul.btmulsty {
    width: 96% !important;
    margin: 0 auto; } }
/*-----------------------------------------------------------------------------------------*/
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .span20 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span25 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span30 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span33 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span50 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span70 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span75 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .span100 {
    width: 96.00%;
    *width: 96.00%;
    display: block;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; }

  .wrapper {
    width: 94%;
    margin: 0% 3%; }

  .aboutsec {
    width: 100% !important;
    margin: 0% 0% 2% 0% !important; }

  .pricesec {
    width: 100% !important; }

  .slidercap {
    padding: 0 5px !important; }

  .captionwp {
    width: 80% !important;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 40px !important;
    border-radius: 2px; }

  /* width:100 */
  .flex-caption .toptxt {
    font-size: 25px !important;
    line-height: 38px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important; }

  .flex-caption .sctext {
    width: 100% !important;
    font-size: 15px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important;
    padding: 10px 0px !important; }

  .flex-caption .sctext span {
    color: #fff !important; }

  .flex-caption .toptxt02 {
    font-size: 25px !important;
    line-height: 38px !important; }

  .flex-caption .sctext02 {
    width: 100% !important;
    font-size: 16px !important; }

  .topspec01 {
    top: 10% !important; }

  .getstarted {
    width: 100% !important;
    font-size: 21px !important;
    height: 42px !important; }

  .flex-caption {
    position: relative !important;
    top: 0% !important;
    background-color: #000; }

  .flex-control-nav {
    right: 5% !important; }

  .sprow04 {
    min-height: inherit !important;
    padding: 35px 0px !important; }

  .headright {
    width: 100% !important;
    padding-top: 10px !important; }

  .rgdev {
    font-size: 19px !important; }

  .sprow03 {
    padding: 35px 0px !important;
    min-height: inherit !important; }

  .sprow05 {
    padding: 25px 0px !important; }

  .sourcecode {
    width: 100% !important;
    margin-top: 15px !important; }

  .featuredbx {
    width: 100% !important; }

  .sourcecodecounter {
    width: 29.33% !important;
    float: right !important;
    line-height: 87px !important;
    background-color: #1861C6 !important;
    margin: 0% 1% !important;
    height: 101px !important; }

  /* width:31.33 */
  .sprow06 {
    padding: 25px 0px;
    min-height: inherit !important; }

  .aboutsecheader {
    width: 100%;
    display: block;
    font-size: 25px !important;
    margin: 10px 0px; }

  .sliderwp {
    margin: 0 auto !important; }

  .sourcecodeheader {
    font-size: 16px !important; }

  .thrbx01 {
    width: 98% !important;
    margin: 3% 2% !important; }

  .sliderimg {
    width: 28%;
    margin: 0 auto;
    float: none !important;
    text-align: center;
    display: block !important; }

  .slidertext {
    width: 100% !important; }

  .btmcoll01 {
    width: 96%;
    float: none !important;
    margin: 1% 2% !important; }

  .btmcoll02 {
    width: 96%;
    float: none !important;
    margin: 1% 2% !important; }

  .btmcoll03 {
    width: 96%;
    float: none !important;
    margin: 2% 2% !important; }

  .priceplanbx {
    width: 100%;
    margin: 1% 0% !important; }

  .priceplanbxpart02 {
    width: 100%;
    display: block; }

  .slidertxt01 {
    font-size: 18px !important;
    line-height: 23px !important; }

  .slidertxt02 {
    font-size: 18px !important;
    line-height: 23px !important; }

  .logo {
    width: auto;
    padding: 0px 0px 0px 0px;
    position: absolute;
    left: 0px !important;
    top: 0px !important; }

  .headerpartwp {
    padding: 0px 0px; }

  .featuredbxhead {
    font-size: 22px !important; }

  .sprow02 {
    padding: 20px 0px !important; }

  .container02 .flexslider .slides img {
    width: 250px !important;
    margin: 0 auto !important; }

  .thrbx01header {
    font-size: 25px !important; }

  .headerspc {
    height: 116px !important; }

  .headerfx {
    position: relative !important; }

  .headerspc, .headerspclogin {
    height: 0 !important; }

  /* .headerspc{ height:0 !important; }  */
  .emailcaptcha .taglib-captcha .control-group {
    width: 36%; }

  .logo a.np-logofix {
    width: 160px; }

  /* ------------------------- */
  .sprow04 .slider-title {
    font-size: 26px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 0px;
    line-height: normal; }

  .sprow04 .slider-sub-title {
    font-size: 16px;
    color: #fafafa;
    font-weight: 300;
    text-align: center;
    margin-bottom: 36px;
    line-height: normal; }

  .ready-amazed {
    font-size: 26px;
    color: #2c2c2c;
    text-align: center;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 10px;
    margin-bottom: 45px;
    line-height: normal; }

  /* -------------------------  */
  .innertextpart01 {
    width: 100% !important;
    text-align: center; }

  .innertextpart02 {
    width: 100% !important; }

  .innerheader {
    font-size: 23px !important;
    padding: 11px 0; }

  .inbanner {
    font-size: 26px; }

  .insubmenu a {
    padding: 0px 20px !important; }

  .insubmenu {
    font-size: 16px !important; }

  .sprow09 {
    padding: 15px 0px !important; }

  .innertextpart01 {
    padding-top: 0px !important; }

  .innerpricebx {
    width: 70% !important;
    margin: 2% 15% !important;
    height: auto !important; }

  .collpart01 {
    width: 100% !important;
    margin: 1% 0% !important;
    text-align: center !important; }

  .collpart02 {
    width: 100% !important;
    margin: 1% 0% !important; }

  .collparttext {
    text-align: center !important; }

  .collpart02 a {
    margin: 0 auto !important; }

  .collpartheader {
    text-align: center;
    font-size: 38px !important; }

  .innerpricebxpart01 {
    font-size: 25px !important;
    height: 45px !important;
    line-height: 40px !important; }

  .innerpricebxpart02 {
    font-size: 22px !important;
    height: 49px !important;
    line-height: 29px !important; }

  .innerpricebxpart03 {
    height: auto !important;
    padding: 15px !important; }

  .ulsty02 li {
    text-align: left !important; }

  .innertextpart03 {
    width: 100% !important;
    text-align: center; }

  .innertextpart04 {
    width: 100% !important; }

  .innertextpart05 {
    width: 100% !important;
    text-align: center; }

  .innertextpart06 {
    width: 100% !important; }

  .inbanner02 {
    font-size: 22px !important;
    text-align: center; }

  .inbannertxt02 {
    font-size: 16px !important;
    text-align: center; }

  .inbanner03 {
    font-size: 22px !important;
    text-align: center; }

  .inbannertxt03 {
    font-size: 16px !important;
    text-align: center; }

  .cslogin {
    width: 43% !important;
    font-size: 12px !important; }

  .logo {
    margin-top: 8px; }

  .blogleft {
    width: 100% !important; }

  .blogright {
    width: 100% !important; }

  .blogrowheader {
    font-size: 22px; }

  .blogrow01 {
    padding: 25px 0px; }

  .blogtxt {
    font-size: 13px !important; }

  .blogheader02 {
    font-size: 21px !important; }

  .blogimg01 {
    width: 75%;
    margin: 2% 12.5% !important; }

  .hidecustomlogin {
    display: block !important; }

  .showcustomlogin {
    display: none; }

  .textfild01 {
    width: 95% !important; }

  .textfild02 {
    width: 95% !important; }

  .portlet-body .collapse .navbar-search {
    margin: 0px !important;
    position: relative !important;
    width: 94%  !important;
    border: 0px !important;
    float: left; } }
/*-----------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .span20 {
    width: 17.00%;
    *width: 17.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span25 {
    width: 22.00%;
    *width: 22.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span30 {
    width: 27%;
    *width: 27%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span33 {
    width: 30.33%;
    *width: 30.33%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span50 {
    width: 47.00%;
    *width: 47.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span70 {
    width: 67.00%;
    *width: 67.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span75 {
    width: 72.00%;
    *width: 72.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span100 {
    width: 97.00%;
    *width: 97.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .wrapper {
    width: 96%;
    margin: 0% 2%; }

  .aboutsec {
    width: 100% !important;
    margin: 0% 0% 2% 0% !important; }

  .pricesec {
    width: 100% !important; }

  .slidercap {
    padding: 0 25px !important; }

  .captionwp {
    width: 100% !important;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 15px !important;
    border-radius: 2px; }

  .flex-caption .toptxt {
    font-size: 38px !important;
    line-height: 38px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important; }

  .flex-caption .sctext {
    font-size: 16px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important;
    padding: 10px 0px !important; }

  .flex-caption .sctext span {
    color: #fff !important; }

  .flex-caption .toptxt02 {
    font-size: 40px !important;
    line-height: 38px !important; }

  .flex-caption .sctext02 {
    font-size: 16px !important; }

  .logo {
    width: auto !important;
    text-align: center;
    padding: 5px 0px 0px 0px;
    position: absolute;
    left: 0px !important;
    top: 5px !important; }

  .topspec01 {
    top: 10% !important; }

  .getstarted {
    width: 75% !important;
    font-size: 21px !important;
    height: 42px !important; }

  .flex-caption {
    position: relative !important;
    top: 0% !important;
    background-color: #000; }

  .flex-control-nav {
    right: 5% !important; }

  .sprow04 {
    min-height: inherit !important;
    padding: 35px 0px !important; }

  .headright {
    width: 100% !important;
    padding-top: 10px !important; }

  .rgdev {
    font-size: 19px !important; }

  .sprow03 {
    padding: 35px 0px !important;
    min-height: inherit !important; }

  .sprow05 {
    padding: 25px 0px !important; }

  .sourcecode {
    width: 100% !important;
    margin-top: 15px !important; }

  .featuredbx {
    width: 100% !important; }

  .sourcecodecounter {
    width: 29.33% !important;
    float: right !important;
    line-height: 87px !important;
    background-color: #1861C6 !important;
    margin: 0% 1% !important;
    height: 101px !important; }

  /* 31.33 */
  .sprow06 {
    padding: 25px 0px;
    min-height: inherit !important; }

  .aboutsecheader {
    font-size: 30px !important; }

  .sliderwp {
    margin: 0 auto !important; }

  .sourcecodeheader {
    font-size: 16px !important; }

  .thrbx01 {
    width: 31.33% !important;
    margin: 0 1% !important; }

  .headerspc {
    height: 116px !important; }

  .headerfx {
    position: relative !important; }

  .headerspc, .headerspclogin {
    height: 0 !important; }

  /* .headerspc{ height:0 !important; }  */
  .emailcaptcha .taglib-captcha .control-group {
    width: 36%; }

  .logo a.np-logofix {
    width: 160px; }

  /* ----------------------------------- */
  .sprow04 .slider-title {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 0px;
    line-height: normal; }

  .sprow04 .slider-sub-title {
    font-size: 18px;
    color: #fafafa;
    font-weight: 300;
    text-align: center;
    margin-bottom: 36px;
    line-height: normal; }

  .ready-amazed {
    font-size: 30px;
    color: #2c2c2c;
    text-align: center;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 10px;
    margin-bottom: 45px;
    line-height: normal; }

  /* ----------------------------------- */
  .innertextpart01 {
    width: 100% !important;
    text-align: center; }

  .innertextpart02 {
    width: 100% !important; }

  .inbanner {
    font-size: 30px; }

  .sprow09 {
    padding: 25px 0px !important; }

  .innertextpart01 {
    padding-top: 0px !important; }

  .innerpricebx {
    width: 70% !important;
    margin: 2% 15% !important;
    height: auto !important; }

  .collpart01 {
    width: 100% !important;
    margin: 1% 0% !important;
    text-align: center !important; }

  .collpart02 {
    width: 100% !important;
    margin: 1% 0% !important; }

  .collparttext {
    text-align: center !important; }

  .collpart02 a {
    margin: 0 auto !important; }

  .collpartheader {
    text-align: center;
    font-size: 38px !important; }

  .innertextpart03 {
    width: 100% !important;
    text-align: center; }

  .innertextpart04 {
    width: 100% !important; }

  .innertextpart05 {
    width: 100% !important;
    text-align: center; }

  .innertextpart06 {
    width: 100% !important; }

  .inbanner02 {
    font-size: 26px !important; }

  .inbannertxt02 {
    font-size: 20px !important; }

  .inbanner03 {
    font-size: 26px !important; }

  .inbannertxt03 {
    font-size: 20px !important; }

  .cslogin {
    width: 43% !important;
    font-size: 12px !important; }

  .logo {
    margin-top: 8px; }

  .blogleft {
    width: 100% !important; }

  .blogright {
    width: 100% !important; }

  .blogrowheader {
    font-size: 25px; }

  .blogrow01 {
    padding: 25px 0px; }

  .hidecustomlogin {
    display: block !important; }

  .showcustomlogin {
    display: none; }

  .textfild01 {
    width: 95% !important; }

  .textfild02 {
    width: 95% !important; }

  .portlet-body .collapse .navbar-search {
    margin: 0px !important;
    position: relative !important;
    width: 100%  !important;
    border: 0px !important;
    float: left; }

  .searchfild {
    width: 92% !important; }

  .searchbx {
    width: 95% !important; } }
/*-----------------------------------------------------------------------------------------*/
@media only screen and (min-width: 901px) and (max-width: 1023px) {
  .span20 {
    width: 17.00%;
    *width: 17.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span25 {
    width: 22.00%;
    *width: 22.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span30 {
    width: 27%;
    *width: 27%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span33 {
    width: 30.33%;
    *width: 30.33%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span50 {
    width: 47.00%;
    *width: 47.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span70 {
    width: 67.00%;
    *width: 67.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span75 {
    width: 72.00%;
    *width: 72.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span100 {
    width: 97.00%;
    *width: 97.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .wrapper {
    width: 96%;
    margin: 0% 2%; }

  .aboutsec {
    width: 100% !important;
    margin: 0% 0% 2% 0% !important; }

  .pricesec {
    width: 100% !important; }

  .slidercap {
    padding: 0 25px !important; }

  .captionwp {
    width: 100% !important;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 15px !important;
    border-radius: 2px; }

  .flex-caption .toptxt {
    font-size: 38px !important;
    line-height: 38px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important; }

  .flex-caption .sctext {
    font-size: 16px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important;
    padding: 10px 0px !important; }

  .flex-caption .sctext span {
    color: #fff !important; }

  .flex-caption .toptxt02 {
    font-size: 40px !important;
    line-height: 38px !important; }

  .flex-caption .sctext02 {
    font-size: 16px !important; }

  .topspec01 {
    top: 10% !important; }

  .getstarted {
    width: 75% !important;
    font-size: 21px !important;
    height: 42px !important; }

  .flex-caption {
    position: relative !important;
    top: 0% !important;
    background-color: #000; }

  .flex-control-nav {
    right: 5% !important; }

  .sprow04 {
    min-height: inherit !important;
    padding: 35px 0px !important; }

  .headright {
    width: 50% !important;
    padding-top: 10px !important; }

  .rgdev {
    font-size: 19px !important; }

  .sprow03 {
    padding: 35px 0px !important;
    min-height: inherit !important; }

  .sprow05 {
    padding: 25px 0px !important; }

  .sourcecode {
    width: 45% !important; }

  /* 47  */
  .featuredbx {
    width: 50% !important; }

  .sourcecodecounter {
    width: 29.33% !important;
    float: right !important;
    line-height: 87px !important;
    margin: 0 1% !important; }

  /* 31.33 */
  .sprow06 {
    padding: 25px 0px;
    min-height: inherit !important; }

  .aboutsecheader {
    font-size: 30px !important; }

  .headerfx {
    position: relative !important; }

  .headerspc, .headerspclogin {
    height: 0 !important; }

  /* .headerspc{ height:0 !important; } */
  .emailcaptcha .taglib-captcha .control-group {
    width: 36%; }

  .innertextpart01 {
    width: 100% !important;
    text-align: center; }

  .innertextpart02 {
    width: 100% !important; }

  .sprow09 {
    padding: 25px 0px !important; }

  .innertextpart01 {
    padding-top: 0px !important; }

  .innerpricebx {
    width: 31.33% !important;
    margin: 0 1% !important; }

  .collpart01 {
    width: 100% !important;
    margin: 1% 0% !important;
    text-align: center !important; }

  .collpart02 {
    width: 100% !important;
    margin: 1% 0% !important; }

  .collparttext {
    text-align: center !important; }

  .collpart02 a {
    margin: 0 auto !important; }

  .innertextpart03 {
    width: 100% !important;
    text-align: center; }

  .innertextpart04 {
    width: 100% !important; }

  .innertextpart05 {
    width: 100% !important;
    text-align: center; }

  .innertextpart06 {
    width: 100% !important; }

  .inbanner02 {
    font-size: 26px !important; }

  .inbannertxt02 {
    font-size: 20px !important; }

  .inbanner03 {
    font-size: 26px !important; }

  .inbannertxt03 {
    font-size: 20px !important; }

  .cslogin {
    width: 43% !important;
    font-size: 12px !important; }

  .logo {
    margin-top: 30px; }

  .blogleft {
    width: 64% !important; }

  .blogright {
    width: 30% !important; }

  .searchfild {
    width: 92% !important; }

  .searchbx {
    width: 95% !important; }

  .textfild01 {
    width: 95% !important; }

  .textfild02 {
    width: 95% !important; } }
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1170px) {
  .span20 {
    width: 17.00%;
    *width: 17.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span25 {
    width: 22.00%;
    *width: 22.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span30 {
    width: 27%;
    *width: 27%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span33 {
    width: 30.33%;
    *width: 30.33%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span50 {
    width: 47.00%;
    *width: 47.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span70 {
    width: 67.00%;
    *width: 67.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span75 {
    width: 72.00%;
    *width: 72.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .span100 {
    width: 97.00%;
    *width: 97.00%;
    display: block;
    margin: 0% 1.5%;
    float: left; }

  .wrapper {
    width: 96%;
    margin: 0% 2%; }

  .aboutsec {
    width: 40% !important; }

  .pricesec {
    width: 55% !important; }

  .slidercap {
    padding: 0 55px !important; }

  .captionwp {
    width: 48% !important;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 25px !important;
    border-radius: 2px; }

  .flex-caption .toptxt {
    font-size: 40px !important;
    line-height: 38px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important; }

  .flex-caption .sctext {
    font-size: 16px !important;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000 !important;
    padding: 10px 0px !important; }

  .flex-caption .sctext span {
    color: #fff !important; }

  .flex-caption .toptxt02 {
    font-size: 40px !important;
    line-height: 38px !important; }

  .flex-caption .sctext02 {
    font-size: 15px !important; }

  .topspec01 {
    top: 10% !important; }

  .getstarted {
    width: 75% !important;
    font-size: 21px !important;
    height: 42px !important; }

  .flex-caption {
    top: 3% !important; }

  .innerpricebx {
    width: 31.33% !important;
    margin: 0 1% !important; }

  .cslogin {
    width: 43% !important;
    font-size: 12px !important; }

  .logo {
    margin-top: 14px; }

  .blogleft {
    width: 69% !important; }

  .blogright {
    width: 25% !important; }

  .textfild01 {
    width: 95% !important; }

  .textfild02 {
    width: 95% !important; }

  .portlet-body .collapse .navbar-search {
    width: 42% !important;
    border: 0px !important; } }
/*-----------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1171px) and (max-width: 1750px) {
  .textfild01 {
    width: 95% !important; }

  .textfild02 {
    width: 95% !important; }

  .topspec01 {
    top: 16% !important; } }

