@import "compass";
@import "mixins";

@import url(custom_common.css);
@import url(color_schemes/common.css);
@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);

$dockbarGradientEnd: #1273C7;
$dockbarGradientStart: #118ADE;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

@font-face {
    font-family: 'Anton-Regular';
    src: url('../fonts/anton_0-webfont.eot');
    src: url('../fonts/anton_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anton_0-webfont.woff') format('woff'),
         url('../fonts/anton_0-webfont.ttf') format('truetype'),
         url('../fonts/anton_0-webfont.svg#Anton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebrima-Regular';
    src: url('../fonts/ebrima-webfont.eot');
    src: url('../fonts/ebrima-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrima-webfont.woff') format('woff'),
         url('../fonts/ebrima-webfont.ttf') format('truetype'),
         url('../fonts/ebrima-webfont.svg#Ebrima-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebrima-Bold';
    src: url('../fonts/ebrimabd-webfont.eot');
    src: url('../fonts/ebrimabd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrimabd-webfont.woff') format('woff'),
         url('../fonts/ebrimabd-webfont.ttf') format('truetype'),
         url('../fonts/ebrimabd-webfont.svg#Ebrima-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-webfont.svg#Oswald-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------- Base styles ---------- */

.aui {
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}

	#wrapper {
		position: relative;
		padding: 0;
	}

	.site-title {
		a:hover {
			text-decoration: none;
		}

		.site-name {
			display: inline-block;
		}
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}

	.site-navigation {
		margin-bottom: 6px;
	}

	.taglib-portal-message {
		margin-bottom: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 6px 10px;

						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;

			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));

			.nav {
				> li {
					background-color: $dockbarGradientStart;

					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					background-color: transparent;

					@include background-image(none);

					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							background: #5BBAE8;
						}

						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			padding: 0;
			padding-right: 20px;
			margin-left: 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			li {
				&.dropdown {
					> .dropdown-toggle {
						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						background-color: #A3A3A3;
						color: #FFF;
					}
				}

				&.active > a {
					background-color: $dockbarGradientStart;
				}
			}

			> li > a {
				padding: 4px 15px 5px;
			}

			.dropdown-menu {
				background: #00ACFF;
				border-width: 0;
				margin: 0;

				&:after, &:before {
					border-width: 0;
				}

				a {
					color: #FFF;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		.navbar-inner {
			background: #555;
			border-width: 0;
			min-height: 36px;

			li a {
				color: #FFF;
			}
		}
	}

	.modify-pages .delete-tab {
		background: #555;
		border: 2px solid #FFF;
		color: #FFF;
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 300;
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		background-color: #FAFAFA;
	}

	#breadcrumbs {
		margin-bottom: 45px;

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
	}

	.portlet-topper {
		background: #D3D3D3;
		color: #FFF;
		padding: 0;

		.portlet-title {
			font-size: 1em;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.portlet-borderless-bar .portlet-options {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-body, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-journal-content .journal-content-article, .portlet-message-boards .header-title, .portlet-message-boards .thread-body {
		@include hyphenation;
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		text-align: right;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;

		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);

			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}

	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				@include box-shadow(none);
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart, $dockbarGradientEnd));
			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}
}




/*------------------BLUE OPTIMA------------------*/
/* Base-responsive */
/*Mainmenu*/
.rgdev{font-family:Ebrima-Bold, Arial, Helvetica, sans-serif; color:#fff; position:relative; font-size:16px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; width:100%; float:left;  -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.rgdev-list{text-align:left; margin:0 auto 0 auto; width:100%; display: table; padding:0px;}
.rgdev-item{position:relative ; text-align:center; display: table-cell;  white-space: nowrap;}
.rgdev-item a{display:block; color:#2c2c2c; padding:0px 21px 0px 21px; line-height:29px; text-decoration:none!important;  }
.rgdev-list li:hover>a{ color:#155fc5; } 
.rgdev-item a.active{ color:#155fc5; }
.rgdev-submenu {display:none; position:absolute; top:29px; min-width:230px; z-index:1000; margin:0px; padding:4px; background-color:#525252; border-radius:4px; border-radius:4px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.4); font-size:13px;list-style:none;}
.rgdev-submenu:after{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;    -moz-border-top-colors: none; border-color: transparent transparent #525252  transparent;   border-image: none; border-style: solid; border-width:6px; left:5px; margin-top:0; position:absolute; top:-12px; z-index: 1;}
.rgdev-submenu-item a{background:#EDEDED; text-align:left; border-bottom:1px solid #CECECE; display:block; line-height:22px; padding:8px 15px 8px 15px; text-transform:none; border-right:solid 0px #000; height:auto; text-shadow:none; color:#000; }
.rgdev-submenu li:hover>a{ background-image:none; background-color:#0077b3; color:#fff;}
.rgdev-submenu-item a:hover {	background-image:none;   background-color:#ccc; border-radius:0px!important; color:#000;}

.rgdev-text{ display:none !important; width:50%; position:absolute; top:0px; left:0px; color:#fff; line-height:44px; text-indent:15px; font-weight:normal; font-size:18px; display:none; text-transform:none;}

.rgdev-mobile{display:none; cursor:pointer; position:absolute; top:0; right:0; padding: 7px 12px 7px 12px; margin:6px 7px 0px 7px; color: #fff; border-radius:4px 4px 0px 0px; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #002c4c; border-image: none; border-radius: 4px 4px 4px 4px; border-style: solid; border-width: 1px;    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3); color: #333333; cursor: pointer; font-size: 14px; line-height: 20px; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);  vertical-align: middle; background-color:#424242;}
.rgdev-mobile:hover {box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2); background-color:#252525; border-color:#000;}
.rgdev-mobile .icon-bar{display: block;width: 18px; height: 2px; background-image:none; background-color:#f5f5f5; -webkit-border-radius:1px; -moz-border-radius:1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25); -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25); box-shadow: 0 1px 0 rgba(0,0,0,0.25); margin-top: 3px;}
.rgdev-click{position:absolute; top:0; right:0; display:none; cursor:pointer;}
.rgdev-click i{display:block; height:23px; width:25px; margin-top:10px; margin-right:8px; background:url(../images/down.png) no-repeat top left; background-size:25px;}
.rgdev-click02{position:absolute; top:0; right:0; display:none; cursor:pointer;}
.rgdev-click02 i{display:block; height:23px; width:25px; margin-top:10px; margin-right:8px; background:url(../images/down.png) no-repeat top left; background-size:25px;}
.rgdev-rotate{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg);}	
.rgdev-submenu-item{ position:relative; margin:0px; padding:0px;}
@media only screen and (min-width:902px) {
.rgdev-list {display:block !important;}
.rgdev-list li:hover .rgdev-submenu{display:block;}
.rgdev-list .rgdev-submenu .rgdev-submenu-sub{ min-width:180px; position:absolute; left:65%; top:15px; display:none !important; margin:0px; padding:4px; background-color:#525252; border-radius:4px; border-radius:4px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.4);}
.rgdev-submenu-sub:after{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;    -moz-border-top-colors: none; border-color: transparent #525252 transparent  transparent ;   border-image: none; border-style: solid; border-width:6px; content:""; left:-12px; margin-top:0; position:absolute; top:12px; z-index: 1;}
.rgdev-list .rgdev-submenu li:hover .rgdev-submenu-sub{display:block !important; list-style:none; margin:0px }
.rgdev-list li:hover .rgdev-submenu .rgdev-submenu-sub{display:block;}
.rgdev-list .rgdev-submenu .rgdev-submenu-sub .rgdev-submenu-sub-sub{ min-width:180px; position:absolute;  left:65%; top:15px; display:none !important; margin:0px; padding:4px; background-color:#525252; border-radius:4px; border-radius:4px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.4);}
.rgdev-submenu-sub-sub:after{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;    -moz-border-top-colors: none; border-color: transparent #525252 transparent  transparent ;   border-image: none; border-style: solid; border-width:6px; content:""; left:-12px; margin-top:0; position:absolute; top:12px; z-index: 1;}
.rgdev-list .rgdev-submenu .rgdev-submenu-sub li:hover .rgdev-submenu-sub-sub{display:block !important;  list-style:none; margin:0px }
.rgdev-submenu-item-sub{position:relative; padding:0px; margin:0px}
.rgdev-submenu-item-sub-item-sub{ position:relative; padding:0px; margin:0px}
.mobilelink{display:none;}
}
@media only screen and (min-width:230px) and (max-width:901px) {
.rgdev-mobile{display:block;}
.mobile-sub{ margin:0px; padding:0px; list-style:none; float:none; width:100%;}
.mobile-sub li{ margin:0px 0px 0px 0px !important; display:block;}
.mobile-sub a{display:block; color:#000; padding:9px 15px !important; background-color:#fff; border-bottom:solid 1px #e1e1e1;}

.rgdev{width:100%; padding:44px 0px 0px 0px !important; margin:0px 0px; font-size:14px !important;}
.rgdev-list{display:none;}
.rgdev-item {width:100%; float:none; text-align:left;}
.rgdev-item > a {padding:13px;line-height:20px; text-transform:none;}
.rgdev-click{display:block;}
.rgdev-click02{display:block;}
.rgdev-mobile-open{border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;}
.rgdev-item:hover .rgdev-submenu{display:none;}
.rgdev-submenu {position:static; width:100%; padding:0px; box-shadow:none;}
.rgdev-submenu:after{border-color: transparent transparent transparent transparent;   border-style: none; }

.rgdev-submenu li{ margin:0px 0px 0px 0px !important;}
.rgdev-submenu a{font-family:Arial, Helvetica, sans-serif; display:block; color:#000; padding:12px 25px;	background:#fff !important; border-bottom:solid 1px #ccc;}
.rgdev-submenu li a.active{ color:#000 !important;}
.rgdev-submenu li:hover>a{ background-color:#f5f5f5!important; color:#000;}
.rgdev-submenu-sub {width:100%; position:static; left:100%; top:0; display:none; margin:0px; padding:0px;}
.rgdev-submenu-sub li{ margin:0px 0px 0px 0px !important; padding:0px; position:relative;}
.rgdev-submenu-sub a{display:block; color:#000; padding:10px 25px 10px 25px;	background:#fff !important; border-bottom:solid 1px #ccc; font-weight:normal;}
.rgdev-submenu-sub li a.active{ color:#000 !important;}
.rgdev-submenu-sub li:hover>a{ background-color:#a5a5a5 !important; color:#fff;}
.rgdev-submenu-sub-sub{width:100%; position:static; left:100%; top:0; display:none; margin:0px; padding:0px;}
.rgdev-submenu-sub-sub li{ margin:0px 0px 0px 0px !important;}
.rgdev-submenu-sub-sub a{display:block; color:#000; padding:10px 25px 10px 25px;	background:#fff !important; border-bottom:solid 1px #ccc; font-weight:normal;}
.rgdev-submenu-sub-sub li a.active{ color:#000 !important;}
.rgdev-submenu-sub-sub li:hover>a{ background-color:#606060 !important; color:#fff;}
.rgdev-text{display:block;}
}
.aui ul, .aui ol{
	 margin: 0;
    padding: 0;
}
.aui li{
	line-height: 0;
}
#totop {opacity:0; filter:alpha(opacity=0); position:fixed; right:-59px;  width:49px; z-index:9999; display:block; top:85%; background-color:#404040; font-size:11px; color: #fff; text-align: center; padding: 7px 0 7px 0; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; font-family:Arial, Helvetica, sans-serif;text-decoration:none; }
#totop:after {-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: transparent transparent #404040  transparent; border-image: none; border-style: solid; border-width:5px; content:""; left:50%; margin-top:0; position:absolute; top:-10px; z-index: 1; margin-left:-5px;}
#totop.on { right:20px; opacity:0.7; filter:alpha(opacity=70); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#totop.off{right:-59px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#totop:hover { opacity:1; filter:alpha(opacity=100)}

/* Style.css 
.wrapper{width:100%;  max-width:980px; margin:0px auto; padding:0px 0px 0px 0px;}*/
/*  .wrapper{ width:92%;  max-width:1170px; margin:0px auto; padding:0px 0px 0px 0px;} */
.headerspc{ width:100%; height:83px; display:block;}
.headerspclogin{ width:100%; height:45px; display:block;}
.headerfxlogin{width:100%; background-color:#fff;  z-index:10000; border-bottom:solid 11px #1861c6;} 
.headerfx{width:100%; position:fixed; top:0px; background-color:#fff;  z-index:10000; border-bottom:solid 11px #1861c6; }
.logo{float:left;margin-top:14px;}
.headright{width:45%; float:right; padding:0px 0px 0px 0px; }
.headerpartwp{width:100%; padding:5px 0px; position:relative; }
::selection{background-color: #155FC5; color: #fff;}
::-webkit-selection{background-color: #155FC5; color: #fff;}
::-moz-selection{background-color: #155FC5; color: #fff;}


 /*  *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-decoration: none; -webkit-font-smoothing: antialiased;}  */



/*-- START-(A) last added classe from style.css for footer.vm  -- */

.sprow06{width:100%; background-color:#363636; min-height:370px; padding:55px 0px 30px 0px;}
.btmcoll01{width:17.33%; float:left; margin:0% 3%; }
.btmcoll02{width:37.33%; float:left; margin:0% 3%; }
.btmcoll03{width:27.33%; float:left; margin:0% 3%; }
.btmcolheader{width:100%; color:#d7d7d7; font-family:Anton-Regular; font-size:24px; text-transform:uppercase; text-align:left; display:block; padding:5px 0px 12px 0px; }

.btmsmalhead{ width:100%; display:block; color:#a9a9a9; font-family:Arial, Helvetica, sans-serif; text-align:left; padding:4px 0px; }
.btmsmalhead a{ color:#a9a9a9; text-decoration: none !important; }
.btmsmalhead a:hover{ color:#fff; text-decoration: none !important; }
ul.btmulsty{width:100%;  color:#a9a9a9; font-family:Arial, Helvetica, sans-serif; text-align:left; padding:0px 0px 0px 20px; list-style:disc; }
ul.btmulsty li{width:100%; padding:2px 0px; list-style:disc; line-height:normal;}
ul.btmulsty li a{ width:100%; display:block; padding:0px 0px; color:#a9a9a9; }
ul.btmulsty li a:hover{ text-decoration:underline; color:#a9a9a9;}

.formfild{ width:100%; display:block; padding:3px 0px ;}
.formfild input[type="text"].btmtextfild{width:100%; height:22px !important; display:block; padding:2px 5px !important; background-color:#1b1b1b !important; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; border:solid 1px #292929 !important; -webkit-border-radius:4px; color:#9a9a9a !important; -moz-border-radius:4px; font-weight:bold; border-radius:4px !important; }
.formfild div{width:40%; float:left; }
.formfild div + div{width:55%; float:right; margin-top:11px; }

.formfild .btmtextareafild{width:100%; height:91px !important; display:block; padding:2px 5px !important; background-color:#1b1b1b !important; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; border:solid 1px #292929 !important; -webkit-border-radius:4px; color:#9a9a9a !important; -moz-border-radius:4px; font-weight:bold; border-radius:4px !important; resize:none; }

.formfild .sendbtn{width:49px; height:30px !important; display:block; padding:0px 5px !important; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; border:solid 0px #292929 !important; -webkit-border-radius:4px; color:#9a9a9a !important; -moz-border-radius:4px; border-radius:4px !important; background-color:#155fc6 !important; color:#fff !important;}

.formfild .sendbtn:hover{background-color:#ccc !important; color:#000 !important;}
.container02 .flexslider .flex-direction-nav{ display:none !important; }
.container .flexslider .flex-control-nav{ display:none !important; }


.bottomcontdetail{ width:100%; border-top:solid 1px #545454; border-bottom:solid 1px #545454; padding:14px 0px;  font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.btmadd{width:100%; padding:2px 0px; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#a9a9a9;}
.btmtel{width:100%; padding:2px 0px; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff;}
.btmmail{width:100%; padding:2px 0px; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#a9a9a9;}
.btmmail a{color:#155fc6;}


.socialicon{ width:100%; }
.socialicon a{ width:30px; height:30px; display:inline-block; margin:0px 1px;  }
.socialicon a:hoVer{ opacity:0.7; }

/*--END(A) footer.vm --*/

/* Add New Css */
.aui body{padding:0px;}
.aui #footer{text-align: left;}
#p_p_id_emailus_WAR_emailusportlet_ .aui .portlet, .aui .portlet-borderless-container{background: none;}
#_145_navSiteNavigationNavbarBtn{
	display: none !important;
}
.aui .portlet-borderless-container {
    padding: 0!important;
    margin:0!important;
}
.btmtextfild{padding:0;margin:0;}
.emailcaptcha div.taglib-captcha{margin:0;padding:0;width:100%;}
.emailcaptcha{width:100%}
.emailcaptcha .taglib-captcha .control-group label{display:none;}
.emailcaptcha .taglib-captcha .control-group{float: right;margin:10px 5px 0 0;padding:0;width:50%;}
.taglib-captcha .captcha{margin-bottom:2px;}
#slideshow .container{width:100%;}

#_emailus_WAR_emailusportlet_captchaText{width:100%; height:22px !important; display:block; padding:2px 5px !important; background-color:#1b1b1b !important; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; border:solid 1px #292929 !important; -webkit-border-radius:4px; color:#9a9a9a !important; -moz-border-radius:4px; font-weight:bold; border-radius:4px !important;}

/*-------------------------------add css for box-slider--*/


.getstarted{font-family: 'Ebrima-Bold',Arial, Helvetica, sans-serif; width:383px; height:47px; display:block; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; line-height:44px; padding:0px 12px; text-align:center; font-size:24px; color:#fff !important;
text-shadow:-1px -1px 0px #00557d; 
 border:solid 1px #0062a1;
 background-color: #008ecc;
  *background-color: #008ecc;
  background-image: -moz-linear-gradient(top, #008ecc, #0051aa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008ecc), to(#0051aa));
  background-image: -webkit-linear-gradient(top, #008ecc, #0051aa);
  background-image: -o-linear-gradient(top, #008ecc, #0051aa);
  background-image: linear-gradient(to bottom, #008ecc, #0051aa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#008ecc',EndColorStr='#0051aa');
 text-decoration: none !important;
}
.getstarted:hover{background-color:#383838; color:#fff !important; }

.sprow02{width:100%; background-color:#212224; min-height:167px; padding:25px 0px;}

.featuredbx{width:447px; float:left; }
.featuredbxhead{width:100%; text-align:center; font-size:30px; color:#a8a8a8; font-family:Ebrima-Bold; display:block; padding:10px 0px 20px 0px; }
.sliderwp{ width:430px; background-color:#000000; padding:3px 3px; }
.slider1{ margin-left:36px !important; }
.slider1 > li{ width:86px !important; height:63px !important; border:solid 2px #3e3e3e; margin:0px 1px;; display:table-cell; vertical-align:middle; text-align:center; float:none !important}
.slider1 > li img{ border:solid 1px #808080; float:left;}

.sourcecode{ width:40%; float:right;}
.sourcecodeheader{ width:100%; display:block; padding:0px 0px 10px 0px; font-family:Ebrima-Bold; font-size:12px; color:#a8a8a8; text-transform:uppercase; text-align:center;}
.sourcecodecounter{ font-family:Anton-Regular; font-size:80px; text-align:center; color:#fff;  width:339px; height:106px; display:block; padding:0px 0px 0px 0px; -webkit-border-radius:13px; -moz-border-radius:13px; border-radius:13px; border:solid 3px #000000; background-color:#1861c6; line-height:91px;}

.sprow03{width:100%; background-color:#ffffff; min-height:260px; padding:30px 0px;}

.thrbx01{ width:25.33%; float:left; margin:0% 4%; }
.thrbx01header{ width:100%; color:#373737; font-family:Ebrima-Regular; font-size:30px; text-transform:uppercase; text-align:center; display:block; padding:0px 0px 15px 0px;}
.thrbx01img{width:100%; text-align:center; display:block; padding:0px 0px 10px 0px;}
.thrbx01text{ width:100%; text-align:justify; line-height:19px; color:#3e3e3e; font-size:12px; font-family:Arial, Helvetica, sans-serif;  display:block; padding:0px 0px 12px 0px; word-break:normal; }  /*  add word-break:normal; for line-break */
.thrbx01 .readmorebt a{ width:76px; height:26px; line-height:26px; background-color:#686868; display:block; text-align:center;font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff;}
.thrbx01 .readmorebt a:hover{ color:#ffffff !important;background-color:#000 !important;text-decoration: none !important;}

.ready-amazed{font-size: 36px;color: #2c2c2c;text-align: center;font-weight: 300;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;margin-top: 10px;margin-bottom:45px;line-height: normal;}


.sprow04{width:100%; background-color:#2673b0; min-height:240px; padding:37px 0px;}

.slidercap{ width:100%; padding:0px 110px; }
.sliderimg{ width:auto; float:left; }
.slidertext{ width:67%; float:left; padding-top:15px; word-break:normal; } /* add word-break:normal; */
.slidertxt01{ width:100%; font-family:Ebrima-Regular; font-size:21px; text-align:justify; line-height:26px; color:#fff;margin-left: 20px; }
.slidertxt02{ width:100%; font-family:Ebrima-Bold; font-size:23px; text-align:justify; line-height:26px; color:#fff;}

.sprow04 .slider-title {font-size: 40px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;color: #fff;font-weight: 300;text-align: center;margin-bottom: 28px;margin-top: 0px;line-height: normal;}

.sprow04 .slider-sub-title {font-size: 20px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;color: #fafafa;font-weight: 300;text-align: center;margin-bottom: 36px;line-height: normal;}

/* sprow 05 */

.sprow05{width:100%; background-color:#d7d7d7; min-height:295px; padding:72px 0px 80px 0px;}

.aboutsec{width:44%; float:left; margin-right:5%;}
.pricesec{width:47%; float:right;}
.aboutsecheader{width:100%; color:#373737; font-family:Anton-Regular; font-size:36px; text-transform:uppercase; text-align:left; display:block; padding:5px 0px 12px 0px;}
.aboutsectext{width:100%; text-align:justify; line-height:19px; color:#3e3e3e; font-size:12px; font-family:Arial, Helvetica, sans-serif;  display:block; padding:12px 0px 12px 0px; }
.ulstyorder { margin:0px 0px 0px 15px; padding:0px; list-style:decimal;}
.ulstyorder li{ list-style:decimal; color:#006393}
.ulstyorder li a{ display:block; margin:0px; padding:2px 0px;  text-decoration:underline; color:#006393}
a.viewcomplitplan{ font-size:18px; color:#006393; font-family:Anton-Regular;}
.wrapper .pricesec a:hover{ font-size:18px; color:#000; font-family:Anton-Regular;text-decoration: none;} 
.priceplanbx{width:158px; /*height:118px;*/ display:block; -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; float:left; margin:11px 11px;   }
.priceplanbxpart01{width:100%; height:32px; display:block; 
-webkit-border-radius:9px 9px 0px 0px; 
-moz-border-radius:9px 9px 0px 0px; 
border-radius:9px 9px 0px 0px; 
font-size:18px; color:#004c70; text-align:center; font-family:Anton-Regular; padding:1px 0px; line-height:29px; position:relative;
 background-color: #3bb0d3;
  *background-color: #3bb0d3;
  background-image: -moz-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3bb0d3), to(#2b9acf));
  background-image: -webkit-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -o-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: linear-gradient(to bottom, #3bb0d3, #2b9acf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3bb0d3',EndColorStr='#2b9acf');
  text-shadow:1px 1px 0px #66b5d6; 
}


.priceplanbxpart01:after{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;    -moz-border-top-colors: none; border-color:#2b9acf transparent transparent transparent ;   border-image: none; border-style: solid; border-width:8px; content:""; left:50%; margin-left:-4px; position:absolute; bottom:-12px; z-index: 1;}


.priceplanbxpart02{width:158px; height:61px; display:table-cell; vertical-align:middle; 
 font-size:18px; color:#fff; text-align:center; font-family:Anton-Regular; padding:10px 0px; line-height:21px; position:relative;
border-bottom:solid 1px #28a8e9;
 background-color: #46bee3;
  *background-color: #46bee3;
  background-image: -moz-linear-gradient(top, #46bee3, #28a8e9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#46bee3), to(#28a8e9));
  background-image: -webkit-linear-gradient(top, #46bee3, #28a8e9);
  background-image: -o-linear-gradient(top, #46bee3, #28a8e9);
  background-image: linear-gradient(to bottom, #46bee3, #28a8e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#46bee3',EndColorStr='#28a8e9');
  text-shadow:1px 1px 0px #606060; 
}

.priceplanbxpart03{width:100%; height:17px;
 	display:block; 
 	-webkit-border-radius:0px 0px 9px 9px;  
 	-moz-border-radius:0px 0px 9px 9px; 
 	border-radius:0px 0px 9px 9px; 
	border-top:solid 1px #0d7db2;
 background-color: #3bb0d3;
  *background-color: #3bb0d3;
  background-image: -moz-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3bb0d3), to(#2b9acf));
  background-image: -webkit-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -o-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: linear-gradient(to bottom, #3bb0d3, #2b9acf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3bb0d3',EndColorStr='#2b9acf');
  text-shadow:1px 1px 0px #66b5d6; 
}


.sprow07{ width:100%; padding:0px 0px 0px 0px; background-color:#155fc5; min-height:35px;}
.insubmenu{width:100%; display:block; font-family:Ebrima-Bold; font-size:18px;  }
.insubmenu a{ display:inline-block; line-height:36px; padding:0px 25px; color:#ffffff;  -webkit-border-radius:4px 4px 0px 0px; -moz-border-radius:4px 4px 0px 0px; border-radius:4px 4px 0px 0px; letter-spacing:-1px;text-decoration:none !important; }
.insubmenu a:hover{ background-color:#2c2c2c; color:#b7d6f0 !important;}
.insubmenu a.active{ background-color:#2c2c2c; color:#b7d6f0 !important;}

.sprow08 {width:100%; padding:0px 0px 0px 0px; background-color:#2c2c2c; height:88px;}
.inbanner{ font-family:Ebrima-Bold; font-size:36px; text-transform:uppercase; color:#dce8f1; display:block; height:88px; vertical-align:middle; display:table-cell;}
.innertextarea{ width:100%; display:block; font-size:14px; color:#373737; text-align:justify;}
.innertextarea a{color:#1861c6;  }
.innertextarea a:hover{color:#1861c6; text-decoration:underline;  }
.innerheader{ width:100%; display:block; font-family:Ebrima-Bold; color:#1861c6; font-size:30px; padding:19px 0px;}

.sprow09 {width:100%; padding:35px 0px; background-color:#fff; }

.innertextpart01{ width:31%; float:left; padding-top:0px; }
.innertextpart02{ width:67%; float:right;}

.ulsty01{ margin:0px; padding:0px; list-style:none;}
.ulsty01 li{ padding:0px 0px 0px 34px;  background:url(../images/bt01.png) 0px 0px no-repeat; color:#2c2c2c; }
.ulsty01 li div{ width:100%; display:block; padding:1px 0px 4px 0px; font-size:16px; color:#1861c6;}
 
 
 /*------ innerpricebx ---------*/

.innerpricebx{width:27.33%; height:521px; display:block; -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; float:left; margin:0% 3% 3% 3%;   }

.innerpricebxpart01{width:100%; height:62px; display:block; 
-webkit-border-radius:9px 9px 0px 0px; 
-moz-border-radius:9px 9px 0px 0px; 
border-radius:9px 9px 0px 0px; 
font-size:36px; color:#c7ddf0; text-align:center; font-family:Oswald-Light; padding:1px 0px; line-height:58px; position:relative;
 background-color: #3d83e4;
  *background-color: #3d83e4;
  background-image: -moz-linear-gradient(top, #3d83e4, #1861c6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d83e4), to(#1861c6));
  background-image: -webkit-linear-gradient(top, #3d83e4, #1861c6);
  background-image: -o-linear-gradient(top, #3d83e4, #1861c6);
  background-image: linear-gradient(to bottom, #3d83e4, #1861c6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d83e4',EndColorStr='#1861c6');
  text-shadow:1px 1px 0px #003d91; 
}

.innerpricebxpart01:after{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;    -moz-border-top-colors: none; border-color:#1861c6 transparent transparent transparent ;   border-image: none; border-style: solid; border-width:8px; content:""; left:50%; margin-left:-4px; position:absolute; bottom:-16px; z-index: 1;}



.innerpricebxpart02{width:100%; height:61px; display:block; vertical-align:middle; 
 font-size:30px; color:#fff; text-align:center; font-family:Anton-Regular; padding:10px 0px; line-height:44px; position:relative;
border-bottom:solid 1px #28a8e9;
 background-color: #46bee3;
  *background-color: #46bee3;
  background-image: -moz-linear-gradient(top, #46bee3, #28a8e9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#46bee3), to(#28a8e9));
  background-image: -webkit-linear-gradient(top, #46bee3, #28a8e9);
  background-image: -o-linear-gradient(top, #46bee3, #28a8e9);
  background-image: linear-gradient(to bottom, #46bee3, #28a8e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#46bee3',EndColorStr='#28a8e9');
 
}

.innerpricebxpart03{width:100%; height:400px;
 	display:block; 
 	-webkit-border-radius:0px 0px 9px 9px;  
 	-moz-border-radius:0px 0px 9px 9px; 
 	border-radius:0px 0px 9px 9px; 
	border:solid 1px #c9c9c9;
 background-color: #fff;
 padding:20px;
 box-sizing: border-box;
}

/*---sprow 09---*/

.ulsty02{ margin:0px; padding:0px; list-style:none;}
.ulsty02 li{ padding:7px 0px 7px 20px;  background:url(../images/bt02.png) 0px 11px no-repeat; color:#2c2c2c; font-size:14px; }

.collpart01{ width:40%; float:left;}
.collpart02{ width:56%; float:right;}
.collpart02 a{ color:#fff !important; }
.collpartheader{ width:100%; display:block; color:#303030; font-family:Ebrima-Bold; font-size:60px; text-align:left; line-height:60px; text-shadow:2px 2px 0px #d8d8d8; }
.collparttext{ width:100%; display:block; padding-top:9px; padding-bottom:12px; color:#2c2c2c; font-family:Ebrima-Regular; font-size:18px; letter-spacing:-1px; line-height:23px;}
.collparttext span{ width:100%; color:#2c2c2c; font-family:Ebrima-Bold; font-size:18px;}
.sprow10{width:100%; padding:0px 0px 0px 0px; background-color:#2c2c2c; height:128px;}
.inbanner02{ font-family:Ebrima-Bold; font-size:36px; color:#4787e1; display:block; padding:25px 0px 8px 0px; }
.inbannertxt02{ width:100%; font-family:Ebrima-Bold; font-size:24px; color:#94bcf4; display:block; padding:10px 0px; line-height:25px; }
.innertextpart03{ width:24%; float:left; padding-top:0px; }
.innertextpart04{ width:75%; float:right;}
.ulsty03{ width:100%; display:block; list-style:disc !important; padding-left:15px;}
.ulsty03 li{ width:100%;  padding:8px 0px; list-style:disc !important}
.sliderhead{ width:204px; line-height:27px; height:27px; padding:0px 15px 0px 15px; text-align:left; font-size:14px; font-weight:bold; background-color:#1861c6; -webkit-border-radius:4px 4px 0px 0px; -moz-border-radius:4px 4px 0px 0px; border-radius:4px 4px 0px 0px; color:#fff; margin-top:9px; }
.sliderwp02{ width:100%; background-color:#fff; padding:0px; }
.slider2{ margin-left:36px !important; }
.slider2 > li{ width:86px !important; height:63px !important; border:solid 5px #1861c6; margin:0px 1px;; display:table-cell; vertical-align:middle; text-align:center; float:none !important}
.slider2 > li img{ border:solid 1px #1861c6; float:left;}
.inbanner03{ font-family:Ebrima-Bold; font-size:36px; color:#4787e1; display:block; padding:20px 0px 8px 0px; }
.inbannertxt03{ width:100%; font-family:Ebrima-Bold; font-size:24px; color:#94bcf4; display:block; padding:8px 0px; line-height:25px; }
.innertextpart05{ width:18%; float:left; padding-top:0px; }
.innertextpart06{ width:79%; float:right;}
.smlimg{ width:100%; display:block; text-align:center; }
.smltxt{ width:100%; display:block; padding:8px 0px 12px 0px; font-size:24px; color:#373737; font-family:Ebrima-Bold; text-align:center;}
.ulsty04{ margin:0px; padding:0px; list-style:none;}
.ulsty04 li{ padding:5px 0px 5px 34px;  background:url(../images/bt01.png) 0px 4px no-repeat; color:#2c2c2c; }
.ulsty04 li div{ width:100%; display:block; padding:1px 0px 1px 0px; font-size:16px; color:#1861c6;}

/* ------customer login link---------------- */
.cslogin{ width:150px; height:25px; display:block; background-color:#1459b9 !important; line-height:24px; text-align:center; color:#fff !important; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; font-weight:bold; float:right; margin:0px 0px 8px 0px; text-decoration: none !important; }
.cslogin:hover{background-color:#424242 !important; color:#fff !important;}
/* ------------------------------------------ */


.clearfix:before, .clearfix:after{content: ""; display: table;}.clearfix:after{clear: both;}.clearfix{zoom: 1;}.cl{clear: both;}

/* img, object, embed, video { max-width:100%; border: 0; -ms-interpolation-mode: bicubic; }.ie6 img{width:100%;} */

.sprow01 #slideshow .container .flexslider .flex-viewport{background:black;}

/*
.aui a:hover, .aui a:focus {
    color: #000;
    text-decoration: none;
}
*/

/* .aui #footer {
    text-align: right!important;
    margin-top: -20px!important;
} */

.aui form{margin:0;}

.aui li {line-height: normal;}  /* set control panel li height  */

.sourcecodecounter {
    background-color: #1861c6;
    border: 3px solid #000000;
    border-radius: 13px;
    display: block;
    float: left;
    font-family: Anton-Regular;
    height: 106px;
    margin: 0 2%;
    padding: 0;
    width: 27.33%;
}
.sourcecodecounter strong {
    color: #fff;
    display: block;
    font-size: 44px;
    font-weight: normal;
    line-height: 44px;
    padding: 5px 0;
    text-align: center;
}
.sourcecodecounter span {
    color: #ccc;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    width: 100%;
    word-break:normal;
}



@import url(responsive.css);

@import url(flexslider.css);

@import url(magnific-popup.css);

/* -- @import url(jquery.bxslider.css); -- */

.hidecustomlogin{display:none;}

/* --@Blog css -- */


.blogheader02{width:100%; display:block; color:#1861c6; font-family:Anton-Regular; font-size:24px; padding:12px 0px; border-bottom:solid 2px #606060;}
.portlet-body .monthview{float:left; width:100%; border:solid 0px !important; height: 32px; margin:10px 0px; background-color:#f3f3f3 !important; background-color:#f3f3f3 !important; border:solid 1px #e7e7e7 !important; webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; padding:5px; }
.ulsty05{ margin:0px; padding:5px 0px; list-style:none; display:block;}
.ulsty05 li{width:94%; display:block; padding:7px 0px 7px 14px;  background:url(../images/bt03.png) 0px 13px no-repeat; color:#2c2c2c; border-bottom:dotted 1px #7d7d4c; margin:0px 5px;}
.ulsty05 li a{color:#2c2c2c; }
.ulsty05 li a:hover{color:#000; text-decoration:underline; }
.sprow09 {width:100%; padding:35px 0px; background-color:#fff; }
.wrapper{width:92%;  max-width:1170px; margin:0px auto; padding:0px 0px 0px 0px;}
.blogmain{width:100%;}
.blogleft{width:71%; float:left; }
.blogright{width:23%; float:right; }
.blogrowheader{width:100%; display:block; color:#1861c6; font-family:Anton-Regular; font-size:30px;   }
.leavereply{width:100%; display:block; color:#1861c6; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; padding:8px 0px 0px 27px; background:url(../images/blogicon.png) 0px 12px no-repeat; margin:10px 0px 0px 0px; line-height:25px; }
.leavereply a{color:#1861c6; }
.leavereply a:hover{color:#000; text-decoration:underline; }
.blogimg01{border:solid 3px #eaeaea;padding:0px;  vertical-align:top; padding:1px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; margin:5px 27px 5px 10px; float:left; }
.blogimg01 img{ width:100%;   float:left;}
.learnbt{display:block; padding:0px 11px; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; background-color:#1861c6; text-align:center; float:left; color:#fff !important; height:20px; line-height:20px;}
.learnbt:hover{background-color:#424242; color:#fff; }
.blogtxt{ width:100%; display:block; font-size:14px; color:#535353; text-align:justify; line-height:20px; padding:15px 0px 0px 0px;  }


.searchbx{width:100%; display:block; border:solid 1px #e7e7e7; background-color:#f3f3f3; height:38px; -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; margin:15px 0px;}


.searchfild{ float:left; width:77%; border:solid 0px !important; height: 34px; margin: 4px 0px !important; background-color:#f3f3f3 !important;}
.searchbutton{ float:right; width:39px; height:31px; border:solid 0px !important; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; background:url(../images/searchicon.png) 10px 6px no-repeat #1861c6; margin:3px 3px 0px 0px !important;}
.searchbutton:hover{ background-color:#424242; }


/*
.collapse .navbar-search .form-search .input-append .search-query {  float:left; width:77%; border:solid 0px !important; height: 34px; margin: 1px 6px; background-color:#f3f3f3 !important; }
.collapse .navbar-search .form-search .input-append .btn { float:right; width:39px; height:31px; border:solid 0px !important; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; background:url(../images/searchicon.png) 10px 6px no-repeat #1861c6; margin:2px 5px; }
.collapse .navbar-search .form-search .input-append .btn:hover{ background-color:#424242; }
*/

/* leave reply  */

.formtext{width:100%; display:block; font-size:16px; font-family:Arial, Helvetica, sans-serif; margin-top: 10px; color: #000 !important; font-weight: 100 !important; }
.formheadertxt{width:100%; display:block; font-family:Ebrima-Bold; font-size:30px; color:#1861c6 !important; padding:25px 0px 10px 0px; text-decoration: none !important;}
.formmain{width:100%; display:block; padding:10px 0px; }
  /* .formmain .formrow01 .control-group .field{width:95%; display:block; background-color:#f3f3f3 !important; height:25px; border:solid 1px #e7e7e7; webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px!important; color:#2c2c2c !important; text-indent:8px !important; float:left;} */
.textfild01{ width:95%; display:block; background-color:#f3f3f3 !important; height:33px; border:solid 1px #e7e7e7; webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px!important; color:#2c2c2c !important; text-indent:8px !important; float:left; } 
.textfild02{ width:95%; display:block; background-color:#f3f3f3 !important; height:165px; border:solid 1px #e7e7e7; webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px!important; color:#2c2c2c !important; text-indent:8px !important; float:left; }

.formrow01 .control-group .control-label { display: none; }
.formrow01 { width:100%; margin:8px 0px; height: 0px;}
.formrow01 span{ width:1%; display:block; float:left; font-size:30px; color:#2c2c2c; float:left; padding: 13px 0 0 5px; text-align:center;}
.button-holder .btnSubmit{width:102px; height:39px; float:right; margin-right:25px; margin-top:4px; display:block; border:solid 0px; background:url(../images/submit.png) top center no-repeat;} 
.button-holder .btnSubmit:hover{background:url(../images/submit.png) bottom center no-repeat;}
.button-holder .btnCancel{width:102px; height:39px; float:right; margin-right:25px; margin-top:4px; display:block; border:solid 0px; background:url(../images/cancel.png) top center no-repeat;} 
.button-holder .btnCancel:hover{background:url(../images/cancel.png) bottom center no-repeat;}

/* .submitbt{ width:102px; height:39px; float:right; margin-right:25px; margin-top:4px; display:block; border:solid 0px; background:url(../images/submit.png) top center no-repeat;}  
.submitbt:hover{background:url(../images/submit.png) bottom center no-repeat;}  */  

/*  --------- comment ----------- */

.mycommentboxsty{ display:block; background-color:#f7f7f7; border:solid 2px #c4c4c4; border-radius:20px; padding:9px 12px 13px 12px; position:relative; margin: 5px 0px 0px 0px; } /* width:100%; */
.mycommentusersty{ width:100%; display:block; min-height:41px; background:url(../images/user-ic.png) 0px 8px no-repeat; padding:0px 0px 0px 0px }
.myusercomtnamesty{width:100%; display:block; font-family:'open_sansregular', Arial, Helvetica, sans-serif; color:#3d3d3d; font-size:20px; padding:4px 0px;}
.myusercomtdatesty{width:100%; display:block; font-family:'open_sansregular', Arial, Helvetica, sans-serif; color:#3d3d3d; font-size:13px; padding:0px 0px;}
.myusercomtdatesty span{ font-family:'open_sansbold', Arial, Helvetica, sans-serif;  color:#c0111e; padding-right:5px;}


.portlet-body .collapse .navbar-search{ position: absolute; margin: 0px 0px 0% 108%; width: 33%;z-index:1; border:0px;}
.navbar-search{float: left !important;}
.entry-navigation, .accordion-heading, .accordion-toggle{ border-radius: 10px; border: solid 1px #c4c4c4; }
.aui .accordion-inner { padding : 0px !important; }
.aui .accordion-group.lfr-panel-extended { border-width: 0px; }
.aui .control-group { margin-bottom: 0px; }
.button-holder { margin: 0px 0px 20px 0px; }
.aui .alert-danger, .aui .alert-error, .aui .portlet-msg-error {
    background-color: #fee5e2;
    border-color: #fcaca5;
    color: #b50303;
    margin: 17px 0px 0px 0px;
}
.aui .nav-collapse, .aui .nav-collapse.collapse{ overflow: visible; }
.toggler-content { border: 0px !important; }
/*  .columns-1 .portlet-layout .portlet-column .portlet-dropzone{ display:none; }  */
/* --@temproly -- */
.search-query{ width: 66% !important;height: 30px !important;}