#slideshow{width:100%;}
.flex-container a:active,
.flexslider a:active{outline:none;}
.slides,
.flex-control-nav,
.flex-direction-nav{margin:0;padding:0;list-style:none;}
.flexslider{width:100%;margin:0;padding:0;}
.flexslider .slides > li{display:none;}
.flexslider .slides img{max-width:100%;display:block; }
.flex-pauseplay span{text-transform:capitalize;}
.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides{display:block;}
* html .slides{height:1%;}
.no-js .slides > li:first-child{display:block;}
.flexslider{position:relative;zoom:1;}
.flexslider .slides{zoom:1;}
.flexslider .slides > li{position:relative;margin-bottom:0; /*overflow:hidden;*/}

/*.homebanner01{background:url(../images/1-1.jpg) top center no-repeat; height:452px;}
.homebanner02{background:url(../images/1-2.jpg) top center no-repeat; height:452px;}*/


.flex-container{zoom:1;position:relative;}
.flex-direction-nav li a,
.flex-direction-nav,
.flex-control-nav.flex-control-thumbs img,
.flex-control-nav.flex-control-thumbs{-webkit-transition:all 0.15s ease-in;-moz-transition:all 0.15s ease-in;-ms-transition:all 0.15s ease-in;transition:all 0.15s ease-in;}
.flex-caption{width:100%; position:absolute; color:#E9E9E9; top:10%; left:-100px; opacity:0; filter:alpha(opacity=0); display:block; text-align:left;}
.wpcaption{width:100%;  max-width:1170px; margin:0px auto; }


.topspec01{top:42%;}
.captionwp{ width:39%;  }
.flex-caption .toptxt{ font-family: Ebrima-Bold; color:#303030; font-size:60px; line-height:57px; text-shadow:0px 1px 0px #fff; }
.flex-caption .toptxt02{ font-family: Ebrima-Bold; font-size:60px; line-height:57px; color:#fff; text-shadow:0px 1px 0px #000; }
.flex-caption .sctext{ width:94%;  font-family:Ebrima-Bold; color:#2c2c2c; font-size:16px; padding:15px 0px; line-height:22px; letter-spacing:-1px; text-shadow:0px 1px 0px #fff;}
.flex-caption .sctext02{ width:75%;  font-family:Ebrima-Bold;  font-size:16px; padding:15px 0px; line-height:22px; letter-spacing:-1px; color:#fff; text-shadow:0px 1px 0px #000;}
.flex-caption .sctext span{color:#0044a1;}


/* Direction Nav */
.flex-direction-nav {position: absolute; top:42%; margin-top:-24px; width:100%; height:48px; z-index:999; }
.flexslider.showOnMouseover .flex-direction-nav {opacity:0.8; filter:alpha(opacity=80);}
.flexslider.showOnMouseover:hover .flex-direction-nav {opacity:1; filter:alpha(opacity=100);}
.flex-direction-nav li {margin:0;}
.flex-direction-nav li a {width: 48px; height: 48px; margin: 0; display: block; cursor: pointer; text-indent: -9999px; float: left; background-color: #000; 
background-color: rgba(0, 0, 0, 0.32); background-image:url(../images/new-aero.png); background-repeat:no-repeat; background-position:15px 0;}
.flex-direction-nav li .flex-next {background-position:19px -156px; margin-left:0px; float:right; }
.flex-direction-nav li a:hover {background-color:#1861c6;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {position: absolute; bottom:-15px; right:20%; text-align: center; line-height:1;}
.flex-control-nav li {margin: 0 6px 0 6px; display: inline-block; zoom: 1; *display: inline; line-height:1;}
.flex-control-nav li a { display: inline-block; width:20px; height:20px; margin: 0; background: #0d5085; opacity: 0.8; filter:alpha(opacity=80); cursor: pointer; text-indent: -9999px; position:relative;
-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 2px solid transparent;}
.flex-control-nav li a:hover,
.flex-control-nav li a.flex-active { background:#d7d7d7; border: 2px solid transparent; opacity:1; filter:alpha(opacity=100);}

.flex-control-nav.flex-control-thumbs {bottom: 20px; right: 20px; text-align: right; width: auto;}
.flexslider.showOnMouseover .flex-control-nav.flex-control-thumbs { opacity:0; filter:alpha(opacity=0);}
.flexslider.showOnMouseover:hover .flex-control-nav.flex-control-thumbs {opacity:1; filter:alpha(opacity=100);}
.flex-control-nav.flex-control-thumbs li {-webkit-box-shadow: 0 0 0 4px black inset; -moz-box-shadow: 0 0 0 4px black inset; box-shadow: 0 0 0 4px black inset;}
.flex-control-nav.flex-control-thumbs img {max-height:40px; cursor:pointer; opacity:0.7; filter:alpha(opacity=7); position:relative; -webkit-box-shadow: 0 0 3px black; -moz-box-shadow: 0 0 3px black; box-shadow: 0 0 3px black;}
.flex-control-nav.flex-control-thumbs img.flex-active,
.flex-control-nav.flex-control-thumbs img:hover { opacity: 1; filter:alpha(opacity=100); -webkit-box-shadow: 0 0 8px black; -moz-box-shadow: 0 0 8px black; box-shadow: 0 0 8px black;}
.flex-control-nav.flex-control-thumbs + .flex-direction-nav {bottom:80px;}
