@charset "utf-8";

@font-face {
    font-family: 'Anton-Regular';
    src: url('../fonts/anton_0-webfont.eot');
    src: url('../fonts/anton_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anton_0-webfont.woff') format('woff'),
         url('../fonts/anton_0-webfont.ttf') format('truetype'),
         url('../fonts/anton_0-webfont.svg#Anton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebrima-Regular';
    src: url('../fonts/ebrima-webfont.eot');
    src: url('../fonts/ebrima-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrima-webfont.woff') format('woff'),
         url('../fonts/ebrima-webfont.ttf') format('truetype'),
         url('../fonts/ebrima-webfont.svg#Ebrima-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebrima-Bold';
    src: url('../fonts/ebrimabd-webfont.eot');
    src: url('../fonts/ebrimabd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrimabd-webfont.woff') format('woff'),
         url('../fonts/ebrimabd-webfont.ttf') format('truetype'),
         url('../fonts/ebrimabd-webfont.svg#Ebrima-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-webfont.svg#Oswald-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

.span20{ width:17.00%; *width:17.00%; display:block; margin:0% 1.5%; float:left;}
.span25{ width:22.00%; *width:22.00%; display:block; margin:0% 1.5%; float:left;}
.span30{ width:27%; *width:27%; display:block;	margin:0% 1.5%; float:left;}
.span33{ width:30.33%; *width:30.33%; display:block; margin:0% 1.5%; float:left;}
.span50{ width:47.00%; *width:47.00%; display:block; margin:0% 1.5%; float:left;}
.span70{ width:67.00%; *width:67.00%; display:block; margin:0% 1.5%; float:left;}
.span75{ width:72.00%; *width:72.00%; display:block; margin:0% 1.5%; float:left;}
.span100{ width:97.00%; *width:97.00%; display:block; margin:0% 1.5%; float:left;}
 

body {background-color:#fff; height:100%; }
.wrapper{width:100%;  max-width:1170px; margin:0px auto; padding:0px 0px 0px 0px;}
.headerspc{ width:100%; height:75px; display:block;}
.headerfx{width:100%; position:fixed; top:0px; background-color:#fff;  z-index:10000; border-bottom:solid 11px #1861c6; }
.logo{float:left;}
.headright{width:45%; float:right; padding:12px 0px 0px 0px; }

.getstarted{font-family: 'Ebrima-Bold',Arial, Helvetica, sans-serif; width:383px; height:47px; display:block; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; line-height:44px; padding:0px 12px; text-align:center; font-size:24px; color:#fff;
text-shadow:-1px -1px 0px #00557d; 
 border:solid 1px #0062a1;
 background-color: #008ecc;
  *background-color: #008ecc;
  background-image: -moz-linear-gradient(top, #008ecc, #0051aa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008ecc), to(#0051aa));
  background-image: -webkit-linear-gradient(top, #008ecc, #0051aa);
  background-image: -o-linear-gradient(top, #008ecc, #0051aa);
  background-image: linear-gradient(to bottom, #008ecc, #0051aa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#008ecc',EndColorStr='#0051aa');
}
.getstarted:hover{background-color:#383838; color:#fff; }
.headerpartwp{width:100%; padding:9px 0px; position:relative; }
.sprow01{ width:100%; padding:0px 0px 0px 0px;}

.sprow02{width:100%; background-color:#212224; min-height:167px; padding:25px 0px;}

.featuredbx{width:447px; float:left; }
.featuredbxhead{width:100%; text-align:center; font-size:30px; color:#a8a8a8; font-family:Ebrima-Bold; display:block; padding:10px 0px 20px 0px; }
.sliderwp{ width:437px; background-color:#000000; padding:3px 3px; }
.slider1{ margin-left:36px !important; }
.slider1 > li{ width:86px !important; height:63px !important; border:solid 2px #3e3e3e; margin:0px 1px;; display:table-cell; vertical-align:middle; text-align:center; float:none !important}
.slider1 > li img{ border:solid 1px #808080; float:left;}

.sourcecode{ width:331px; float:right;}
.sourcecodeheader{ width:100%; display:block; padding:0px 0px 10px 0px; font-family:Ebrima-Bold; font-size:12px; color:#a8a8a8; text-transform:uppercase; text-align:center;}
.sourcecodecounter{ font-family:Anton-Regular; font-size:80px; text-align:center; color:#fff;  width:339px; height:106px; display:block; padding:0px 0px 0px 0px; -webkit-border-radius:13px; -moz-border-radius:13px; border-radius:13px; border:solid 3px #000000; background-color:#1861c6; line-height:91px;}

.sprow03{width:100%; background-color:#ffffff; min-height:425px; padding:75px 0px;}

.thrbx01{ width:25.33%; float:left; margin:0% 4%; }
.thrbx01header{ width:100%; color:#373737; font-family:Ebrima-Regular; font-size:30px; text-transform:uppercase; text-align:center; display:block; padding:0px 0px 15px 0px;}
.thrbx01img{width:100%; text-align:center; display:block; padding:0px 0px 10px 0px;}
.thrbx01text{ width:100%; text-align:justify; line-height:19px; color:#3e3e3e; font-size:12px; font-family:Arial, Helvetica, sans-serif;  display:block; padding:0px 0px 12px 0px; }
.readmorebt a{ width:76px; height:26px; line-height:26px; background-color:#686868; display:block; text-align:center;font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff;}
.readmorebt a:hover{ background-color:#000; }



.sprow04{width:100%; background-color:#2673b0; min-height:510px; padding:118px 0px;}

.slidercap{ width:100%; padding:0px 110px; }
.sliderimg{ width:auto; float:left; }
.slidertext{ width:67%; float:left; padding-top:15px; }
.slidertxt01{ width:100%; font-family:Ebrima-Regular; font-size:21px; text-align:justify; line-height:26px; color:#fff; }
.slidertxt02{ width:100%; font-family:Ebrima-Bold; font-size:24px; text-align:justify; line-height:26px; color:#fff;}

.sprow05{width:100%; background-color:#d7d7d7; min-height:410px; padding:100px 0px 80px 0px;}

.aboutsec{width:44%; float:left; margin-right:5%;}
.pricesec{width:47%; float:right;}
.aboutsecheader{width:100%; color:#373737; font-family:Anton-Regular; font-size:36px; text-transform:uppercase; text-align:left; display:block; padding:5px 0px 12px 0px;}
.aboutsectext{width:100%; text-align:justify; line-height:19px; color:#3e3e3e; font-size:12px; font-family:Arial, Helvetica, sans-serif;  display:block; padding:12px 0px 12px 0px; }
.ulstyorder { margin:0px 0px 0px 15px; padding:0px; list-style:decimal;}
.ulstyorder li{ list-style:decimal; color:#006393}
.ulstyorder li a{ display:block; margin:0px; padding:2px 0px;  text-decoration:underline; color:#006393}
.viewcomplitplan{ font-size:18px; color:#006393; font-family:Anton-Regular;}


.priceplanbx{width:158px; height:118px; display:block; -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; float:left; margin:11px 11px;   }
.priceplanbxpart01{width:100%; height:32px; display:block; 
-webkit-border-radius:9px 9px 0px 0px; 
-moz-border-radius:9px 9px 0px 0px; 
border-radius:9px 9px 0px 0px; 
font-size:18px; color:#004c70; text-align:center; font-family:Anton-Regular; padding:1px 0px; line-height:29px; position:relative;
 background-color: #3bb0d3;
  *background-color: #3bb0d3;
  background-image: -moz-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3bb0d3), to(#2b9acf));
  background-image: -webkit-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -o-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: linear-gradient(to bottom, #3bb0d3, #2b9acf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3bb0d3',EndColorStr='#2b9acf');
  text-shadow:1px 1px 0px #66b5d6; 
}


.priceplanbxpart01:after{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;    -moz-border-top-colors: none; border-color:#2b9acf transparent transparent transparent ;   border-image: none; border-style: solid; border-width:8px; content:""; left:50%; margin-left:-4px; position:absolute; bottom:-12px; z-index: 1;}


.priceplanbxpart02{width:158px; height:61px; display:table-cell; vertical-align:middle; 
 font-size:18px; color:#fff; text-align:center; font-family:Anton-Regular; padding:10px 0px; line-height:21px; position:relative;
border-bottom:solid 1px #28a8e9;
 background-color: #46bee3;
  *background-color: #46bee3;
  background-image: -moz-linear-gradient(top, #46bee3, #28a8e9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#46bee3), to(#28a8e9));
  background-image: -webkit-linear-gradient(top, #46bee3, #28a8e9);
  background-image: -o-linear-gradient(top, #46bee3, #28a8e9);
  background-image: linear-gradient(to bottom, #46bee3, #28a8e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#46bee3',EndColorStr='#28a8e9');
  text-shadow:1px 1px 0px #606060; 
}

.priceplanbxpart03{width:100%; height:17px;
 	display:block; 
 	-webkit-border-radius:0px 0px 9px 9px;  
 	-moz-border-radius:0px 0px 9px 9px; 
 	border-radius:0px 0px 9px 9px; 
	border-top:solid 1px #0d7db2;
 background-color: #3bb0d3;
  *background-color: #3bb0d3;
  background-image: -moz-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3bb0d3), to(#2b9acf));
  background-image: -webkit-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: -o-linear-gradient(top, #3bb0d3, #2b9acf);
  background-image: linear-gradient(to bottom, #3bb0d3, #2b9acf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3bb0d3',EndColorStr='#2b9acf');
  text-shadow:1px 1px 0px #66b5d6; 
}

.sprow06{width:100%; background-color:#363636; min-height:426px; padding:55px 0px 30px 0px;}
.btmcoll01{width:17.33%; float:left; margin:0% 3%; }
.btmcoll02{width:37.33%; float:left; margin:0% 3%; }
.btmcoll03{width:27.33%; float:left; margin:0% 3%; }
.btmcolheader{width:100%; color:#d7d7d7; font-family:Anton-Regular; font-size:24px; text-transform:uppercase; text-align:left; display:block; padding:5px 0px 12px 0px; }

.btmsmalhead{ width:100%; display:block; color:#a9a9a9; font-family:Arial, Helvetica, sans-serif; text-align:left; padding:4px 0px; }
.btmsmalhead a{color:#a9a9a9; }
.btmsmalhead a:hover{color:#fff; }
.btmulsty{width:100%;  color:#a9a9a9; font-family:Arial, Helvetica, sans-serif; text-align:left; padding:0px 0px 0px 20px; list-style:disc; }
.btmulsty li{width:100%; padding:1px 0px; list-style:disc; }
.btmulsty li a{ width:100%; display:block; padding:0px 0px; color:#a9a9a9; }
.btmulsty li a:hover{ text-decoration:underline; }

.formfild{ width:100%; display:block; padding:3px 0px ;}
.formfild .btmtextfild{width:100%; height:28px !important; display:block; padding:2px 5px !important; background-color:#1b1b1b !important; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; border:solid 1px #292929 !important; -webkit-border-radius:4px; color:#9a9a9a !important; -moz-border-radius:4px; font-weight:bold; border-radius:4px !important; }
.formfild div{width:40%; float:left; }
.formfild div + div{width:55%; float:right; margin-top:11px; }

.formfild .btmtextareafild{width:100%; height:91px !important; display:block; padding:2px 5px !important; background-color:#1b1b1b !important; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; border:solid 1px #292929 !important; -webkit-border-radius:4px; color:#9a9a9a !important; -moz-border-radius:4px; font-weight:bold; border-radius:4px !important; resize:none; }

.formfild .sendbtn{width:49px; height:30px !important; display:block; padding:0px 0px !important; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding:0px; margin:0px; border:solid 0px #292929 !important; -webkit-border-radius:4px; color:#9a9a9a !important; -moz-border-radius:4px; border-radius:4px !important; background-color:#155fc6 !important; color:#fff !important;}

.formfild .sendbtn:hover{background-color:#ccc !important; color:#000 !important;}
.container02 .flexslider .flex-direction-nav{ display:none !important; }
.container .flexslider .flex-control-nav{ display:none !important; }


.bottomcontdetail{ width:100%; border-top:solid 1px #545454; border-bottom:solid 1px #545454; padding:14px 0px;  font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.btmadd{width:100%; padding:2px 0px; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#a9a9a9;}
.btmtel{width:100%; padding:2px 0px; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff;}
.btmmail{width:100%; padding:2px 0px; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#a9a9a9;}
.btmmail a{color:#155fc6;}


.socialicon{ width:100%; }
.socialicon a{ width:30px; height:30px; display:inline-block; margin:0px 1px;  }
.socialicon a:hoVer{ opacity:0.7; }
.socialicon .icon01{ background:url(../images/icons.png) 0px 0px no-repeat;}
.socialicon .icon02{ background:url(../images/icons.png) -30px 0px no-repeat;}
.socialicon .icon03{ background:url(../images/icons.png) -60px 0px  no-repeat;}


















